.form {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border:rgb(236, 146, 42) solid 1px;
    border-radius: 10px;
    margin: 5px;
}

.inputs {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.row label {
    position: absolute;
    left: 0;
    color: rgb(236, 146, 42);
}

.row input {
    width: 200px;
    position: absolute;
    right: 0;
    border-radius: 5px;
}

.divButton {
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
    position: relative;
}

.submitButton {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(236, 146, 42);
    color: white;
    left: 0;
    position: absolute;
}