.card {
    color: rgb(44, 44, 44);
    background-color: rgb(240, 237, 235);
    height: 100px;
    width: 100%;
    position: relative;
    margin: 1rem 0;
    border-radius: 10px;
}

.img {
    position: absolute;
    right: 0;
    padding: 10px;
    height: 80px;
    width: 80px;
}

.description {
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.description h2 {
    color:rgb(236, 146, 42);
}